@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div class="button-load">
    <input type="submit" value="Load Into Table" class="btn-load" />
</div>

<div class="button-display">
    <input type="submit" value="Display" class="btn-display" />
</div>
